[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gglgbtq"]
	path = gglgbtq
	url = https://github.com/turtletopia/gglgbtq
[submodule "versionsort"]
	path = versionsort
	url = https://github.com/turtletopia/versionsort
